<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<%= form_tag("/sessions/create", :method => "get") do %>
    <%= label_tag("Почта:") %> <br>
    <%= text_field_tag(:email) %> <br/>
    <%= label_tag("Пароль:") %> <br>
    <%= password_field_tag(:password) %> <br/>
    <br/>
    <%= submit_tag("Sign in") %>
<% end %>
<%=  link_to "Новый гость", new_user_path %> 
</br>
<% if params[:message] %>
    <p><%= params[:message] %></p>
<% end %>