<% if not User.find_by_id(session[:current_user_id]) %>
    <%= controller.respond_to do |format| %>
        <%=   format.html { controller.redirect_to root_path, alert: 'Неверная почта или пароль' } %>
    <% end %>
<% end %>
<h1>Числа Армстронга</h1>
<%= form_tag("/calc/show", :method => :get) do %>
    <%= label_tag("Введите количество цифр в числе:") %>
    </br>
    <%= number_field_tag(:power, nil, in: 1..7, step:1)%>
    </br>
    <%= submit_tag("Найти") %>
<% end %>
<%= link_to "Выйти", sessions_exit_path %>
</br>






