<div align="left">
<h1>Числа Армстронга:</h1>
<table border=1>
  <tr>
    <td>  Индекс </td>
    <td>  Число  </td>
  </tr>
  <% @right_numbers.each do |number| %>
    <tr>
      <td> <%= number[0] %> </td>
      <td> <%= number[1] %> </td>
    </tr>
  <% end %>
</table>
<p>Количество чисел Армстронга: <%= @right_numbers.length %></p>
<p><%= @msg %></p>
</br>
<%= link_to "Показать БД в JSON", '/users/json' %>
</br>
<%= link_to "Показать БД в XML", '/users/xml' %>
<%= button_to 'Вернуться', calc_input_url, method: :get, class: 'btn btn-primary' %>
</br>
<%= link_to "Выйти", sessions_exit_path %>
<div>

